body {
  margin: 0px;
  overflow-y: hidden;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  background: linear-gradient(
    180deg,
    rgba(223, 212, 43, 1) 0%,
    rgba(191, 22, 185, 1) 47%,
    rgba(47, 22, 191, 1) 92%
  );
}
.botoes {
}
button {
  width: 65px;
  height: 35px;
  border-radius: 8px;
  border: 1px solid #ff10f0;
  background-color: #40f2fe;
  box-shadow: 0.5px 3px #0b2232;
}
h1 {
  color: #7bff00;
  text-shadow: 1px 1.5px #142abe;
}
button:hover {
  width: 65px;
  height: 35px;
  border-radius: 8px;
  border: 1px solid #b50baa;
  background-color: #2fb5be;
  box-shadow: 0px 1.5px #0b2232;
  translate: 0px 3px;
  color: #7bff00;
}
